
# HTTP Asset backend (option 1)
LOS_ASSET_HTTP_BASE_URL=

# AWS Asset Backend (option 2)
AWS_PROFILE=
LOS_ASSET_S3_BUCKET=


# Asset locations (sub-paths within asset backend)
LOS_ORTHOS_PREFIX=
LOS_TERRAIN_TILE_PREFIX=
LOS_OBSTRUCTION_PREFIX=
LOS_FOOTPRINTS_PREFIX=


# Local paths
LOCAL_ASSET_CACHE_ROOT=/tmp/loscope-cache

# MeshDB
MESHDB_API_TOKEN=

# Redis (override if not using docker compose)
REDIS_URL=redis://localhost:6379
