# AWS credentials
AWS_PROFILE=

# S3 asset locations
LOS_ASSET_S3_BUCKET=
LOS_ORTHOS_S3_PREFIX=
LOS_TERRAIN_TILE_S3_PREFIX=
LOS_OBSTRUCTION_S3_PREFIX=

# Local paths
LOCAL_ASSET_CACHE_ROOT=/tmp/loscope-cache
NYC_DOB_SQLITE_DB_FILE=data/nyc_dob.db

# MeshDB
MESHDB_API_TOKEN=
